<script type="text/javascript" src="/js/modules/modulesmain.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link href="/styles/modules/modulesmaster.css" type="text/css" rel="stylesheet" />
<link href="/styles/modules/modulesmain.css" type="text/css" rel="stylesheet" />

<div class="placeholder_main">
  <div id="colorbar">
    <p id="pagetitle">Modules Management</p>
    <div class="btns-wrapper">
      <form action="/module/uploadFile" enctype="multipart/form-data" method="POST">
        <input type="file" id="module_file" name="moduleFile" onchange="submit_file($(this).siblings('input[type=submit]'))" formenctype="multipart/form-data" accept=".xlsx" style="display: none;" />
        <input type="submit" id="module_submit_btn" style="display: none;" />
      </form>
      <button id="import-mod-btn" onclick="select_file($(this).siblings('form').find('input[id=module_file]'));" class="btn btn-dark"><img src="/images/icons/upload_file.svg" /></button>

      <form action="/lesson/uploadFile" enctype="multipart/form-data" method="POST">
        <input type="file" id="lesson_file" name="lessonFile" onchange="submit_file($(this).siblings('input[type=submit]'));" formenctype="multipart/form-data" accept=".txt" style="display: none;" />
        <input type="submit" id="lesson_submit_btn" style="display: none;" />
      </form>
      <button id="import-lesson-btn" onclick="select_file($(this).siblings('form').find('input[id=lesson_file]'));" class="btn btn-secondary"><img src="/images/icons/import.svg" /></button>
    </div>
  </div>
  <div class="content_wrapper">
    <div class="modules_list">
      <% _.each(modules, function(module, index) {%>
      <p onclick="selectModule(this);" selected id="<%= module.code %>" aria-selected="false"><%= module.code %> - <%= module.name %></p>
      <% }); %>
    </div>

    <div class="module_details_wrapper">
      <p id="module_title"></p>
      <div class="module_main_details_editable">
        <ul class="module_info"></ul>
      </div>
      <div class="class_details">
      </div>
    </div>
  </div>
</div>
