<!DOCTYPE html>
<html>
  <head>
    <title>Timetable Scheduler</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- External Stylesheets (Fonts) -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <!-- Java Scripts to be included in the header -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/dependencies/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/master/master.css">
    <!--STYLES END-->
  </head>

  <body>
    <div id="headwrapper">
      <div id="headtitle">
        <img src="/images/ntulogo.svg" />
        <div style="margin-left: 10pt;">
          <p>Timetable Planning</p>
          <p>Scheduling System</p>
        </div>
      </div>
      <table id="navmenu">
        <tr>
          <td id="navhome" onclick="redirect('/')">Home</td>
          <td id="navstaff" onclick="redirect('/staffs/main')">Staff</td>
          <td>
            <span id="navmod" onclick="redirect('/module')">Module</span>
            <div class="dropdown-content">
              <p onclick="redirect('/module')">View/Edit</p>
              <p onclick="redirect('/module/addnew')">Add New</p>
            </div>
          </td>
          <td id="navschedule" onclick="redirect('/schedule')">Schedule</td>
          <td>
            <span id="navimport" onclick="redirect('/import')">Import</span>
            <div class="dropdown-content-right">
              <p onclick="redirect('/import/STARS')">STARS</p>
              <p onclick="redirect('/import/module')">Modules</p>
              <p onclick="redirect('/import/staff')">Staffs</p>
              <p onclick="redirect('/import/group')">Groups</p>
            </div></td>
          <td>
            <span id="navexport" onclick="redirect('/export')">Export</span>
            <div class="dropdown-content-right">
              <p onclick="redirect('/export/STARS')">STARS</p>
              <p onclick="redirect('/export/module')">Modules</p>
              <p onclick="redirect('/export/staff')">Staffs</p>
              <p onclick="redirect('/export/group')">Groups</p>
            </div></td>
        </tr>
      </table>
      <img id="navicon" src="/images/icons/menu.svg" />
    </div>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like React, Vue.js, Angular, Ember, and Backbone
        require that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different view engine (handlebars, dust, pug/jade, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--
        Server-side View Locals
        ========================

        Sometimes, it's convenient to get access to your server-side view locals from
        client-side JavaScript.  This can improve page load times, remove the need for
        extra AJAX requests, and make your client-side code easier to understand and
        to maintain.  Sails provides a simple mechanism for accessing dynamic view
        locals: the "exposeLocalsToBrowser()" view partial.

        For more information on using this built-in feature, see:
        https://sailsjs.com/docs/concepts/views/locals#?escaping-untrusted-data-using-exposelocalstobrowser

    -->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/bootstrap.bundle.min.js"></script>
    <script src="/js/master/master.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
