<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link href="/styles/modules/modulesmaster.css" type="text/css" rel="stylesheet" />

<div id="colorbar">
  <p id="pagetitle">New Module</p>
  <p id="pagesubtitle">Add a new module and include the details here.</p>
  <p id="pagesmalltitle">Just want to view existing modules? Click <a href="/modules/main">here</a>.</p>
</div>

<div class="placeholder_main">

</div>
