<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link href="/styles/modules/modulesmaster.css" type="text/css" rel="stylesheet" />
<link href="/styles/modules/modulesmain.css" type="text/css" rel="stylesheet" />

<div id="colorbar">
  <p id="pagetitle">Modules Management</p>
  <p id="pagesubtitle">View and edit the details of a Module here.</p>
  <p id="pagesmalltitle">Want to add new modules? Click <a href="/modules/addnew">here</a>.</p>
</div>

<div class="placeholder_main">
  <div class="modules_list_wrapper">
    <p id="listtitle">Modules List</p>
    <div class="modules_list">
      <p>CE1005 - Digital Logic</p>
      <p>CZ1007 - Data Structures</p>
      <p>CZ4062 - Computer Security</p>
      <p style="background-color: #c0c0c0;">CE1002 - Introduction to Computing Systems</p>
      <p>CZ4062 - Computer Security</p>
      <p>CZ1007 - Data Structures</p>
      <p>CZ4062 - Computer Security</p>
      <p>CZ1007 - Data Structures</p>
      <p>CZ4062 - Computer Security</p>
      <p>CZ1007 - Data Structures</p>
      <p>CZ4062 - Computer Security</p>
      <p>CZ1007 - Data Structures</p>
      <p>CZ4062 - Computer Security</p>
      <p>CZ1007 - Data Structures</p>
      <p>CZ4062 - Computer Security</p>
    </div>
  </div>

  <div class="module_details_wrapper">
    <p id="module_title">CE1005 - Digital Logic</p>
    <div class="module_main_details">
      <h3>Main Details</h3>
      <div class="module_main_details_editable">
        <p>Year of study:</p><input type="text" disabled id="moduleyear" value="1" />
        <p>Academic units:</p><input type="text" disabled id="moduleau" value="3" />
        <p>Cohort size:</p><input type="text" disabled id="modulecohort" value="250" />
      </div>
    </div>
    <div class="module_details">
      <div style="display: flex; flex-direction: column;">
        <h3>Lecture Related</h3>
        <div style="display: grid; grid-template-columns: 150px 100px;">
          <p>Frequency:</p><input type="text" disabled id="lecfreq" value="Weekly" />
          <p style="grid-column-start: 1; grid-column-end: 3;">Possible Venues:</p>
          <textarea style="grid-column-start: 1; grid-column-end: 3;" disabled></textarea>
          <p style="grid-column-start: 1; grid-column-end: 3;">Groups Assigned:</p>
          <textarea style="grid-column-start: 1; grid-column-end: 3;" disabled></textarea>
        </div>
      </div>
      <div style="display: flex; flex-direction: column;">
        <h3>Tutorial Related</h3>
        <div style="display: grid; grid-template-columns: 150px 100px;">
          <p>Frequency:</p><input type="text" disabled id="tutfreq" value="Weekly" />
          <p style="grid-column-start: 1; grid-column-end: 3;">Possible Venues:</p>
          <textarea style="grid-column-start: 1; grid-column-end: 3;" disabled></textarea>
          <p style="grid-column-start: 1; grid-column-end: 3;">Groups Assigned:</p>
          <textarea style="grid-column-start: 1; grid-column-end: 3;" disabled></textarea>
        </div>
      </div>
      <div style="display: flex; flex-direction: column;">
        <h3>Lab Related</h3>
        <div style="display: grid; grid-template-columns: 150px 100px;">
          <p>Frequency:</p><input type="text" disabled id="labfreq" value="Fortnightly" />
          <p style="grid-column-start: 1; grid-column-end: 3;">Possible Venues:</p>
          <textarea style="grid-column-start: 1; grid-column-end: 3;" disabled></textarea>
          <p style="grid-column-start: 1; grid-column-end: 3;">Groups Assigned:</p>
          <textarea style="grid-column-start: 1; grid-column-end: 3;" disabled></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
