.modules_list_wrapper {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  width: 22vw;
}

.modules_list {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

#listtitle {
  font-size: 2.5vmin;
  font-weight: bold;
  padding-top: 10px;
}

.modules_list p {
  padding: 10px 0px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5vmin;
}

.module_details_wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.5vmin;
  padding-left: 30px;
}

.module_details_wrapper input[type=text] {
  border: none;
  text-align: center;
  height: fit-content;
  width: 100%;
  align-self: center;
  padding: 5px 0px;
  justify-self: center;
  font-size: 1.5vmin;
}

#module_title {
  padding-top: 10px;
  font-size: 2.5vmin;
  font-weight: bold;
}

.module_details_wrapper input[type=text]:focus {
  outline: none;
  border-bottom: 1px solid crimson;
}

.module_details_wrapper input[type=text]:disabled {
  background-color: transparent;
}

.module_main_details_editable {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.module_main_details_editable input[type=text] {
  width: 50px;
}

.module_details_wrapper h3 {
  padding: 10px 0px 10px 0px;
}

.class_details {
  display: flex;
  flex-wrap: wrap;
}

.class_wrapper {
  display: grid;
  grid-template-columns: 20vw 10vh;
  padding: 0px 20px 0px 0px;
}

.class_wrapper p {
  align-self: center;
}

.class_wrapper textarea {
  resize: none;
  height: 10vh;
}


