#colorbar {
  background-color: #118798;
  padding: 25px 0px 15px;
}

#pagetitle {
  font-family: Poppins;
  font-weight: 900;
  font-size: 24pt;
  color: white;
  padding-left: 20px;
}

#pagesubtitle {
  font-family: Poppins;
  font-weight: 300;
  font-size: 12pt;
  color: #c0c0c0;
  padding-left: 20px;
}

#pagesmalltitle {
  font-family: Poppins;
  font-weight: 400;
  font-size: 11pt;
  color: #606060;
  padding-left: 20px;
}

#pagesmalltitle a {
  color: white;
}

#pagesmalltitle a:hover {
  color: #c0c0c0;
}

.placeholder_main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.content_wrapper {
  display: flex;
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #pagetitle {
    font-size: 20pt;
  }

  #pagesubtitle {
    font-size: 10pt;
  }

  #pagesmalltitle {
    font-size: 9pt;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  #pagetitle {
    font-size: 18pt;
  }

  #pagesubtitle {
    font-size: 9pt;
  }

  #pagesmalltitle {
    font-size: 8pt;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  #pagetitle {
    font-size: 16pt;
  }

  #pagesubtitle {
    font-size: 8pt;
  }

  #pagesmalltitle {
    font-size: 7pt;
  }
}
