#lec_details, #tut_details, #lab_details {
  display: none;
}

.form-control {
  display: inline;
  width: 250px;
  margin: 5px 5px 5px 0px;
}

.input-group {
  width: 250px;
  display: inline-flex;
}
.input-group>.form-control {
  margin: 0px;
}

.custom-select {
  width: 250px;
  margin: 2px 5px 5px 0px;
}

.placeholder_main h2 {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 30px;
}

.placeholder_main h3 {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 25px;
}

.subdetails {
  display: flex;
  align-items: center;
}

.subdetails img {
  margin-left: 10px;
}

#possible_venues_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .placeholder_main h2 {
    font-size: 26px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .placeholder_main h2 {
    font-size: 24px;
  }
}
