#colorbar {
  background-color: #118798;
  padding: 25px 0px 15px;
}

#pagetitle {
  font-family: Poppins;
  font-weight: 900;
  font-size: 2.5vw;
  color: white;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding-left: 20px;
}

#pagesubtitle {
  font-family: Poppins;
  font-weight: 300;
  font-size: 1.2vw;
  color: #c0c0c0;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding-left: 20px;
}

#pagesmalltitle {
  font-family: Poppins;
  font-weight: 400;
  font-size: 1vw;
  color: #606060;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding-left: 20px;
}

#pagesmalltitle a {
  color: white;
}

#pagesmalltitle a:hover {
  color: #c0c0c0;
}

.placeholder_main {
  display: flex;
  margin: auto;
  max-width: 1300px;
  width: 100%;
  padding-left: 20px;
  flex: 1;
}
