@-webkit-keyframes slide-in {
  0% { opacity: 0; -webkit-transform: translateX(100%); }
  100% { opacity: 1; -webkit-transform: translateX(0); }
}
@-moz-keyframes slide-in {
  0% { opacity: 0; -webkit-transform: translateX(100%); }
  100% { opacity: 1; -webkit-transform: translateX(0); }
}

@font-face {
  font-family: "AdelleSansReg";
  src: url("/fonts/AdelleSans-Regular.ttf");
}

#colorbar {
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  flex-shrink: 0;
}

#pagetitle {
  font-family: Poppins;
  font-weight: 900;
  font-size: 24px;
  color: white;
}

.btns-wrapper {
  display: flex;
}

.btns-wrapper > .btn {
  display: flex;
  align-items: center;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 15px;
  margin: 0px 2px;
}

.placeholder_main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  background-image: url("/images/bgpattern.png");
}

.content_wrapper {
  display: flex;
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
