<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link href="/styles/modules/modulesmain.css" type="text/css" rel="stylesheet" />

<div id="colorbar">
  <p id="pagetitle">Modules Management</p>
  <p id="pagesubtitle">View and edit the details of a Module here.</p>
</div>

<div class="placeholder_main">
  <table class="module_details">
    <tr>
      <td colspan="2" id="module_title">CE1005 - Digital Logic</td>
    </tr>
    <tr>
      <td>Year of Study:</td>
      <td id="module_year">1</td>
    </tr>
    <tr>
      <td>Discipline:</td>
      <td id="module_discipline">CE</td>
    </tr>
    <tr>
      <td>Academic Units:</td>
      <td id="module_au">3</td>
    </tr>
    <tr>
      <td>Cohort Size:</td>
      <td id="module_cohort">250</td>
    </tr>
  </table>
  <div class="modules_list">
    <p id="listtitle">Modules List</p>
    <p style="background-color: #c0c0c0;">CE1005 - Digital Logic</p>
    <p>CZ1007 - Data Structures</p>
    <p>CZ4062 - Computer Security</p>
  </div>
</div>
