@-webkit-keyframes slide-in {
  0% { opacity: 0; -webkit-transform: translateX(100%); }
  100% { opacity: 1; -webkit-transform: translateX(0); }
}
@-moz-keyframes slide-in {
  0% { opacity: 0; -webkit-transform: translateX(100%); }
  100% { opacity: 1; -webkit-transform: translateX(0); }
}

@font-face {
  font-family: "Avenir-Book";
  src: url("/fonts/Avenir-Book.otf");
}

.placeholder_main {
  flex: 1;
  overflow: auto;
  background-color: #eee;
}

.options_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.colorbar {
  background-color: #118798;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  box-shadow: 0 2px 1px #aaa;
}

.pagetitle {
  font-family: Poppins;
  font-weight: 900;
  font-size: 24px;
  color: white;
}

.btns-wrapper > .btn {
  display: inline-flex;
  align-items: center;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
}

#import-btn::after {
  content: 'load stars';
  margin-left: 5px;
  text-transform: uppercase;
  display: none;
  -webkit-animation: slide-in .3s ease-out;
}
#import-btn:hover::after {
  display: block;
  visibility: visible;
}
#save-btn::after {
  content: 'save';
  margin-left: 5px;
  text-transform: uppercase;
  display: none;
  -webkit-animation: slide-in .3s ease-out;
}
#save-btn:hover::after {
  display: block;
  visibility: visible;
}


.header-title {
  font-size: 32px;
  font-weight: bold;
}

#weekly_planner {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

#weekly_planner .header {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

#weekly_planner .header .day_title {
  padding: 15px;
  text-align: center;
  background-color: #A7414A;
  border-bottom: 5px solid #6A8A82;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  flex: 1 1 calc(100%/6);
  text-transform: uppercase;
}

#weekly_planner .content_placeholder {
  display: flex;
  flex-direction: column;
}

#weekly_planner .content_placeholder .content_group {
  display: flex;
  flex-direction: column;
}
/*#weekly_planner .content_placeholder .content_group::after {*/
  /*content: '';*/
  /*height: 1px;*/
  /*margin: 3px 0px;*/
  /*background-image:-webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);*/
/*}*/

#weekly_planner .content_placeholder .content_group .event_time {
  width: 100%;
  font-size: 16px;
  font-family: Poppins;
  padding: 5px 10px;
  font-weight: 600;
  background-color: #e0e0e0;
}

/*#weekly_planner .content_placeholder .content_group:nth-of-type(2n-1) {*/
  /*background-color: #C2D3DA;*/
/*}*/
/*#weekly_planner .content_placeholder .content_group:nth-of-type(2n) {*/
  /*background-color: #F1F3F2;*/
/*}*/

#weekly_planner .content_placeholder .day_placeholder {
  display: flex;
  flex-direction: row;
  min-height: 50px;
}

#weekly_planner .content_placeholder .day_placeholder .events_group {
  position: relative;
  flex: 1 1 calc(100%/6);
  border: 1px solid #c0c0c0;
  padding-bottom: 40px;
}
#weekly_planner .content_placeholder .day_placeholder .show_more_btn {
  position: absolute;
  bottom: 3px;
  right: 5px;
  font-size: 11px;
  cursor: pointer;
  color: #46211a;
}

#weekly_planner .content_placeholder .day_placeholder .show_more_btn:hover {
  text-decoration: underline;
}

#weekly_planner .content_placeholder .day_placeholder .events_group .single_event {
  position: relative;
  font-size: 10px;
  margin: 5px 5px 5px 0px;
  font-family: Tahoma;
  color: black;
  cursor: pointer;
  padding-left: 5px;
  text-transform: uppercase;
}
#weekly_planner .content_placeholder .day_placeholder .events_group .single_event:hover {
  box-shadow: 1px 1px 1px #c0c0c0;
}

.single_event[data-lessontype='LEC'] {
  border-left: 5px solid #118798;
}
.single_event[data-lessontype='TUT'] {
  border-left: 5px solid rgb(237, 138, 99);
}
.single_event[data-lessontype='LAB'] {
  border-left: 5px solid #3a4660;
}

#weekly_planner .content_placeholder .day_placeholder .events_group .pagination {
  width: 100%;
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: center;
}
#weekly_planner .content_placeholder .day_placeholder .events_group .pagination .page-item {
  margin: 0px 2px;
}
#weekly_planner .content_placeholder .day_placeholder .events_group .pagination .page-item .page-x {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
}
#weekly_planner .content_placeholder .day_placeholder .events_group .pagination .page-item .page-x::before,#weekly_planner .content_placeholder .day_placeholder .events_group .pagination .page-item .page-x::after {
  content: '';
  display:block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #336b87;
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#weekly_planner .content_placeholder .day_placeholder .events_group .pagination .page-item .page-x::before {
  background: #336b87;
  transform: scale(0.5);
}
#weekly_planner .content_placeholder .day_placeholder .events_group .pagination .page-item .active::before {
  transform: scale(0.8);
}
#weekly_planner .content_placeholder .day_placeholder .events_group .pagination .page-item .active::after {
  transform: scale(0.5);
}


.modal-body .modal_filter ul {
  list-style-type: none;
  display: flex;
  font-family: "Helvetica";
}
.modal-body .modal_module {
  margin: 5px 0px;
}
.modal-body .modal_module .module_info {
  display: grid;
  grid-template-columns: 30px 80px auto 25px;
  align-items: center;
  background-color: #336B87;
  padding: 10px;
  font-family: "Avenir-Book";
  font-weight: 600;
  color: #f8f8f8;
}
.modal-body .modal_module .module_info img {
  cursor: pointer;
}
.lesson_badge {
  border-radius: 25%;
  background-color: rgba(255, 255, 255, 0.8);
  height: 25px;
  width: 25px;
  text-align: center;
  color: black;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.modal-body .modal_module .lesson_info {
  display: none;
  flex-direction: column;
}
.modal-body .modal_module .lesson_info .lesson {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  width: 95%;
  background-color: #90afc5;
  padding: 5px 5px;
  font-family: Tahoma;
  font-size: 11px;
}
.modal-body .modal_module .lesson_info .lesson .form-control {
  width: fit-content;
  height: fit-content;
  padding: 5px 5px;
  font-family: Tahoma;
  font-size: 11px;
  margin: 5px;
}
.modal-body .modal_module .lesson_info .lesson .form-control[name='groups'] {
  padding-right: 20px;
}

.modal-body .modal_module .lesson_info .lesson .form-control[name='weektype'], .form-control[name='venue'], .form-control[name='groups'] {
  display: none;
}

.modal-body .modal_module .lesson_info .single_event {
  position: relative;
  font-family: Tahoma;
  font-size: 10px;
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  border-right: 1px dashed black;
  margin: 5px 5px 5px 0px;
  cursor: pointer;
  padding-left: 5px;
}

.modal-backdrop {
  display: none;
}
.modal-open .modal {
  width: 400px;
  position: absolute;
  left: 20px;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 1051;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}


.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}
