.placeholder_main {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  flex: 1;
}

.fc-today {
  background: #FFF !important;
}

.calendar_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0px;
}

.btns-wrapper > .btn {
  font-size: 16px;
}

.header-title {
  font-size: 32px;
  font-weight: bold;
}

.calendar-view-wrapper {
  display: inline;
}

.nav-wrapper {
  display: none;
}

.calendar_table {
  display: flex;
  flex-direction: column;
}

.ct_row {
  display: flex;
  flex-direction: row;
}

.day_slot {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  width: 300px;
}

.time_slot {
  padding: 10px 0px;
  width: 100px;
  text-align: center;
}

.weekly_content {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  border: 1px dotted #c0c0c0;
}

.daily_content {
  width: 100%;
}

#weekly_planner {
  width: 100%;
}

#weekly_planner .day_placeholder {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  border: 1px solid #808080;
}

#weekly_planner .day_placeholder .day_title {
  width: fit-content;
  writing-mode: vertical-lr;
  text-orientation: upright;
  margin-right: 10px;
  text-align: center;
  border-right: 1px solid #808080;
}

#weekly_planner .day_placeholder .time_placeholder {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  border-right: 1px solid #808080;
}

#weekly_planner .day_placeholder .time_placeholder p {
  display: flex;
  align-items:center;
  font-size: 14px;
  height: 25px;
  margin: 5px 0px;
}

#weekly_planner .day_placeholder .event_background_lines {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 0;
}

#weekly_planner .day_placeholder .event_placeholder {
  position: relative;
  width: 100%;
}

#weekly_planner .day_placeholder .event_placeholder .event_background_lines span {
  padding: 5px 0px;
}
#weekly_planner .day_placeholder .event_placeholder .event_background_lines span:not(:last-child) {
  border-bottom: 1px dashed #c0c0c0;
}

#weekly_planner .day_placeholder .event_placeholder .events_group {
  position: relative;
  width: 100%;
  height:100%;
}

#weekly_planner .day_placeholder .event_placeholder .events_group .single_event {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 14px;
  width: 45px;
  box-shadow: 1px 1px 1px #c0c0c0;
  padding: 5px;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.single_event[data-lessontype='LEC'] {
  background-color: #118798;
}
.single_event[data-lessontype='TUT'] {
  background-color: rgb(237, 138, 99);
}
.single_event[data-lessontype='LAB'] {
  background-color: #3a4660;
}


