html, body, img, form, textarea, input, fieldset, div, p, ul, li, ol, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, code {
  margin: 0;
  padding: 0;
}

html, body {
  text-align: left;
  font-size: 1em;
  height: 100%;
}

body {
  font-family: Roboto;
}

p {
  line-height: 1.5em;
}



#headwrapper {
  display: flex;
  background-color: #3a4660;
  justify-content: space-between;
  align-items: center;
  padding: 5pt;
}
#headtitle {
  font-family: 'Source Sans Pro';
  display: flex;
  align-items: center;
  font-size: 12pt;
  font-weight: bold;
  color: #c9af98;
}

#navicon {
  display: none;
}

#navmenu {
  font-family: 'Source Sans Pro';
  font-size: 12pt;
  font-weight: bold;
  text-transform: uppercase;
  color: #ed8a63;
}

#navmenu td {
  padding: 0px 8px;
}

#navmenu td:hover {
  color: #f0f0f0;
  cursor: pointer;
}

#navmenu td:hover .dropdown-content, #navmenu td:hover .dropdown-content-right {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3a4660;
  min-width: 140px;
  box-shadow: 0px 6px 12px 0px #000000;
  padding: 12px 16px;
  z-index: 99;
  color: #ed8a63;
}

.dropdown-content p:hover {
  color: white;
}

.dropdown-content-right {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #3a4660;
  min-width: 140px;
  box-shadow: 0px 6px 12px 0px #000000;
  padding: 12px 16px;
  z-index: 99;
  color: #ed8a63;
}

.dropdown-content-right p:hover {
  color: white;
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #navicon {
    display: inline;
    width: 28px;
    height: 28px;
  }
  #navmenu {
    display: none;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  #navicon {
    display: inline;
    width: 24px;
    height: 24px;
  }
  #navmenu {
    display: none;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  #navicon {
    display: inline;
    width: 24px;
    height: 24px;
  }
  #navmenu {
    display: none;
  }
}

